/* ================= */
/*  IMPORTED FONTS   */
/* ================= */
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

h1 {
  text-align: center;
  color: green;
  font-family: 'Righteous', cursive;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shareBtn {
  width: 10%;
}

input, textarea {
  margin: 1em;
}
