/* ================= */
/*  IMPORTED FONTS   */
/* ================= */
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Metrophobic&display=swap');

h1 {
  text-align: center;
  color:  #82688c;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bolder;
}

header, nav {
  padding-top: 1em;
  background-color: #82688c;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Metrophobic', sans-serif;

}

.shareBtn {
  width: 10%;
  background-color: #82688c;
  color: ghostwhite;
  padding: 0.3em 0;
}

input, textarea {
  margin: 1em;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 5em;
  font-size: 1.2em;
}

.nav {
  padding: 0.3em 0.8em;
  background-color: #82688c;
  color: ghostwhite;
  font-family: 'Righteous', cursive;
  border: 3px solid #d7d4d9;
  margin: 1em;
}



.mainContainer {
  display: flex;

}

.info {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  color: grey;
  font-size: 1em;
  text-align: left;
  font-family: 'Righteous', cursive;
  width: 30%;
  height: 100%;
}

.infoText {
  padding-left: 6em;
  font-size: 1em;
}

img {
  width: 40%;
  padding-left: 2em;
}

.profileImg {
  padding-top: 2em;
  padding-left: 4em;
}

.bio {
  width: 50%;
  height: 20%;
  padding: 2em;
  font-family: 'Metrophobic', sans-serif;
  border: 2px solid #82688c;
  background-color: #fffbde;
  text-align: center;
  margin: 2em;
}

.personalInfo {
  width: 55%;
  height: 20%;
  border: 2px solid #82688c;
  background-color: #fffbde;
  margin: 7em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.social {
  display: flex;
  flex-direction: row;
  padding-left: 4.5em;
  padding-bottom: 2em;
}

.socialLinks {
  width: 10%;
  height: 10%;
}

.moreInfoBtns {
  padding-left: 4em;
}

h3 {
  text-align: center;
  font-family: 'Metrophobic', sans-serif;
}

button {
  display: flex;
  align-items: center;
  margin: 1em;
  background-color: #82688c;
  color: ghostwhite;
  padding: 0.5em;
  font-family: 'Righteous', cursive;
  font-size: 0.9em;
  text-transform: lowercase;
  width: 38%;
  text-align: center;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
}
